src/wadl/rax-cloudFiles-api-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../wadl/common.ent">
    %common;
    
    
]>

<application 
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:files="http://docs.openstack.org/api/openstack-object-storage/1.0">

<!--*******************************************************-->
<!--             All Resources                             -->
<!--*******************************************************-->

    <resources base="https://storage101.ord1.clouddrive.com/">
        <resource id="versions" path="v1">
     
            <resource id="account" path="{account}">
                <param name="account" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">Your
                            unique account identifier.</p>
                    </doc>
                </param>
                <method href="#listcontainers"/>
                <method href="#retrieveaccountmeta"/>
                <method href="#updateaccountmeta"/>
                <method href="#deleteaccountmeta"/>

                <resource id="container" path="{container}">
                    <param name="container" style="template"
                        type="xsd:string">
                        <doc>
                            <p xmlns="http://www.w3.org/1999/xhtml">
                                The unique identifier of the
                                container.</p>
                        </doc>
                    </param>
                    <method href="#listContainerObjects"/>
                    <method href="#createcontainer"/>
                    <method href="#deletecontainer"/>
                    <method href="#updateacontainermeta"/>
                    <method href="#retrievecontainermeta"/>
                    <method href="#deletecontainermeta"/>

                    <resource id="object" path="{object}">
                        <param name="object" style="template"
                            type="xsd:string">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The unique identifier of the
                                   object.</p>
                            </doc>
                        </param>
                        <method href="#createobject"/>
                        <method href="#deleteobject"/>
                        <method href="#copyobject"/>
                        <method href="#retrieveobjectmeta"/>
                        <method href="#updateaobjmeta"/>
                    </resource>
                </resource>
            </resource>
        </resource>  
    </resources>
<!--***************************************************************-->
<!--               Resource Types                                  -->
<!--  These were in the OpenStack WADL. I'm not sure what they do. -->
<!--***************************************************************-->
<!--    
    <resource_type id="ContainersList">
        <method href="#listContainers"/>
    </resource_type>
    <resource_type id="ObjectsList">
        <method href="#listObjects"/>
    </resource_type>
    <resource_type id="RetrieveObject">
        <method href="#retrieveobject"/>
    </resource_type>
-->    
<!--*******************************************************-->
<!--               All Methods                             -->
<!--*******************************************************-->
    
<!-- Storage Account Services Methods -->
    
    <method name="GET" id="listcontainers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Account Containers">
            <para role="shortdesc">
                Lists storage containers sorted by name.
            </para>
            <para>This operation lists the storage containers in your account and sorts them by name. </para>
            <para>The container is the basic storage unit in Cloud Files. To view a list of the containers in your account, perform a <code>GET</code> operation against your storage account URL.</para>
            <para>The list is limited to 10,000 containers at a time. See "Controlling a Large List of Containers" below for information on limiting and navigating the list. </para> 
            <para>Container names are sorted based on a binary comparison (
                <link
                xlink:href="http://www.sqlite.org/datatype3.html#collation"
                >http://www.sqlite.org/datatype3.html#collation</link>), a built-in collating function
                that compares string data using SQLite's memcmp() function,
                regardless of text encoding.</para>
            <para>A list of containers is returned in the response body, one container per line. </para>
            <para>The HTTP response status code is a value from 200 to 299, inclusive. A 200 (OK) code returns if there are containers, and a 204 (No Content) code returns if there are no containers.</para>
           
            <para><emphasis role="bold">Format Container List</emphasis> </para>
            <para>If you append the <code>?format=xml</code> or <code>?format=json</code> query parameter to the storage account URL, the service returns container information serialized in the specified format. To format your results, you must place this query parameter before any other parameters. </para>
            <para>The example responses below are formatted for readability.The example responses include the following body parameters: </para>
            
            <itemizedlist spacing="compact">
                <listitem>
                    <para><code>name</code> is the name of the container.</para>
                </listitem>
                <listitem>
                    <para><code>count</code> is the number of objects in the container.</para>
                </listitem>
                <listitem>
                    <para><code>bytes</code> is the number of bytes in the container.</para>
                </listitem>
            </itemizedlist>
            
            <para><emphasis role="bold">Controlling a Large List of Containers</emphasis></para>
            <para>A <code>GET</code> operation on the storage account URL returns a list of up to 10,000 container names. You can control and limit this list of results by using the <code>marker</code>, <code>end_marker</code>, and <code>limit</code> parameters. These parameters provide a mechanism to iterate through the entire list of containers. </para>
            <para>The <code>marker</code> parameter tells Cloud Files where to begin your list of containers and <code>end_marker</code> specifies where to end the list. You can use them independently or together, separated by an ampersand (<code>&amp;</code>). If you do not specify them, your list displays up to 10,000 containers. Note that the <code>marker</code> and <code>end_marker</code> values should be URL-encoded prior to sending the HTTP request.</para>
            <para>You can use the <code>limit</code> parameter to reduce the number of returned objects. </para>
            <para>If the number of returned items equals the <code>limit</code> used (or 10,000 if no <code>limit</code> was specified), you can assume there are more object names.</para>
            <note><para>At this time, a <code>prefix</code> query parameter is not supported at the account level.</para></note>
            <para>As an example, start with an account that has five container names, as follows:</para>
            
            <para><programlisting>
  apples
  bananas
  kiwis
  oranges
  pears
            </programlisting></para>
            <para>Use a limit of 2 to show how things work:</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?limit=2
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c

  apples
  bananas
            </programlisting></para>
            <para>Because the operation returned 2 items, assume there are more container names to list and make another request with a marker of the last item returned:</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?limit=2&amp;marker=bananas
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
  
  kiwis
  oranges 
            </programlisting></para>
            <para>Again, 2 items are returned, and you assume that there may be more. So you make another GET request for 2 more.</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?limit=2&amp;marker=oranges
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
                    
  pears
            </programlisting></para>
            <para>This one-item response shows less than the limit of 2 container names requested, and indicates that this is the end of the list.</para>
            <para>By using <code>end_marker</code>, you can limit the result set to container names less than the given value.</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?end_marker=oranges
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
                    
  apples
  bananas
  kiwis
            </programlisting></para>
            
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="limit" style="query" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For an integer value n, limits the number of results to n values.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns container names greater in value than the specified marker. Only strings using UTF-8 encoding are valid.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="end_marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns container names less in value than the specified marker. Only strings using UTF-8 encoding are valid.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="format" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the serialized response format - either json or
                        xml.</p></doc>
            </param>
            <representation mediaType="application/xml" element="files:Files" >
                <doc>                     
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_request.xml"/>
                </doc>
            </representation>    
            <representation mediaType="application/json" element="files:Files" >
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_request.json"/>
                </doc>
            </representation>           
        </request>
        <response status="200 204">
          

           
            <representation mediaType="application/xml" xml:lang="EN">
                <doc>                 
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_response.xml"/>
                </doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" required="true" type="xsd:string" path="/account/container/name">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Name of the container.
                    </p></doc>
                </param>        
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="count" style="plain" required="true" type="xsd:int" path="/account/container/count">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of objects in the container.
                    </p></doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="bytes" style="plain" required="true" type="xsd:int" path="/account/container/bytes">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of bytes in the container.
                    </p></doc>
                </param>    
            </representation>
            <representation mediaType="application/json" xml:lang="EN">
                
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_response.json"/>
                </doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" required="true" type="xsd:string" path="$.*.name">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Name of the container.
                    </p></doc>
                </param>        
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="count" style="plain" required="true" type="xsd:int" path="$.*.count">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of objects in the container.
                    </p></doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="bytes" style="plain" required="true" type="xsd:int" path="$.*.bytes">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of bytes in the container.
                    </p></doc>
                </param>
            </representation>
        </response>
    </method>

    <method name="HEAD" id="retrieveaccountmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get Account Metadata">
            <para role="shortdesc">
                Gets account metadata.</para>
            <para>Perform a <code>HEAD</code> operation on your storage account URL to get the following information: </para>
            <itemizedlist spacing="compact">
                <listitem>
                    <para>How many objects are in your account (<code>X-Account-Object-Count</code>)</para>
                </listitem>
                <listitem>
                    <para>How many total bytes your account uses (<code>X-Account-Bytes-Used</code>)</para>
                </listitem>
                <listitem>
                    <para>How many containers you have in your account (<code>X-Account-Container-Count</code>)</para>
                </listitem>
            </itemizedlist>        
            <para>The HTTP return code is 2xx (between 200 and 299, inclusive) if the request succeeds. In the example, a 204 (No Content) code is returned. A 401 (Unauthorized) is returned for an invalid account or authentication token. </para>
                <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="text/xml" element="files:Files">
                <doc title="Get Account Metadata Request" >
                    <xsdxt:code href="../wadl/samples/cf-getAccountMetadata_request.txt"/>
                </doc>
            </representation>             
        </request>
        <response status="204">
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Object-Count" style="header" required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The total number of objects that are stored in Cloud Files for the account.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Bytes-Used" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The total number of bytes that are stored in Cloud Files for the account.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Container-Count" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The total 
                        number of containers that are stored in the Cloud Files for the account.</p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files">
                <doc title="Get Account Metadata Response" > 
                    <xsdxt:code href="../wadl/samples/cf-getAccountMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &headAcctMetaFaults;
    </method>
    
    <method name="POST" id="updateaccountmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create or Update Account Metadata">
            <para role="shortdesc">
                Creates or updates account metadata.
            </para>
            <para>You can associate custom metadata headers with the account level URI. To create or update an account metadata header, submit a POST operation. These headers must have the format <code>X-Account-Meta-name</code>. Replace the name with your metadata name. (In the example request below, the metadata headers are <code>X-Account-Meta-Book</code> and <code>X-Account_Meta-Subject</code>.) </para>
            <para>Subsequent <code>POST</code> operations for the same key/value pair overwrite the previous value.</para> 
            <para>A status code of 2xx (between 200 and 299, inclusive) indicates success. </para>
                <para>This operation does not require a request body and does not return a response body.</para>
            <para>To confirm your metadata changes, you can perform a <code>HEAD</code> operation on the account. (For information, see <xref linkend="HEAD_retrieveaccountmeta_v1__account__accountServicesOperations_d1e000"/>.) Do not send the metadata in your <code>HEAD</code> operation.</para> 
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Meta-name" style="header" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Header for the
                        account metadata that you want to create or update. Replace the name at the end of the header with the name for your metadata.
                </p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Create or Update Account Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-updateAccountMetadata_request.txt"/>
                </doc>
            </representation>   
        </request>
        <response status="204"> 
            <representation mediaType="text/xml" element="files:Files">
                <doc title="Create or Update Account Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-updateAccountMetadata_response.txt"/>
                </doc>
            </representation>       
        </response>
    </method>
    
    <method name="POST" id="deleteaccountmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete Account Metadata">
            <para role="shortdesc">
                Deletes account metadata.</para>
            <para>To delete a metadata header, use the <code>POST</code> operation to send
                an empty value for that particular header.</para>
            <para>If the tool you use to communicate with Cloud Files does not support empty headers, such as an older version of cURL, send the <code>X-Remove-Account-Meta-<replaceable>name</replaceable>: <replaceable>arbitrary value</replaceable></code> header. The <code><replaceable>arbitrary value</replaceable></code> is ignored. In the example request below, <code>X-Remove-Account-Meta-Book: x</code> is used.</para>
            <para>A status code of 2xx (between 200 and 299, inclusive) indicates
                success.</para> 
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Remove-Account-Meta-name" style="header"
                required="true" type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Header to send to delete account metadata. Replace the name at the end of the header with the name for your metadata.</para></wadl:doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Delete Account Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-deleteAccountMetadata_request.txt"/>
                </doc>
            </representation>   
        </request>
        <response status="204"> 
            <representation mediaType="text/xml" element="files:Files">
                <doc title="Delete Account Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-deleteAccountMetadata_response.txt"/>
                </doc>
            </representation> 
        </response>
    </method>
  
 <!--  Storage Container Services Methods  -->
    
    <method name="GET" id="listContainerObjects">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List Objects">
            <para role="shortdesc">Lists the objects stored in the
                container.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="limit" style="query" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                    number limit of results.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                    the marker, that the object names greater in
                    value than are returned.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="end_marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                    the marker, that the object names less in
                    value than are returned.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="prefix" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                    the prefix, which the returned object names
                    begin with.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="format" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                    the serialized response format, either json or
                    xml.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="delimiter" style="query" required="false"
                type="xsd:char">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                    the delimiter, that all the object names
                    nested in the container are
                    returned.</p></doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/objectlist.json"/>
                </doc>
            </representation>
        </response>
    </method>
 
    <method name="PUT" id="createcontainer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create Container">
            <para role="shortdesc">
                Creates a container.
            </para>
            <para>This operation creates a Cloud Files container. Containers are storage compartments for your data. The URL-encoded name must be less than 256 bytes and cannot contain a forward slash character (/). You can create up to 500,000 containers in your Cloud Files account.</para>
            <para>You can assign custom metadata for containers by including additional HTTP headers with a <code>X-Container-Meta-</code> prefix on the <command>PUT</command> request. See FIXME for details on setting custom metadata. </para>
            <para>Using custom container metadata, you can create information in the header to effectively tag a container with metadata. The container metadata restrictions are the same as object metadata. You can have 4096 bytes maximum of overall metadata, with a maximum of 90 distinct metadata items. Each can have a name length of up to 128 characters with a maximum of 256 bytes in the value. Any valid UTF-8 encoded string value is allowed for metadata. In addition for custom metadata, we recommend that you URL-encode any non-ASCII values using a "%" symbol, followed by the two-digit hexadecimal ISO-Latin code for the character.</para>
            <para>A status code of 201 (Created) indicates that the container was created as requested. Container <command>PUT</command> requests are idempotent, and a code of 202 (Accepted) is returned if the container existed prior to the request. If you request a <command>PUT</command> to a container with an <code>X-Container-Meta-</code> prefix in the header, your <command>GET</command> or <command>HEAD</command> request responses carry the metadata prefix from the container in subsequent requests.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Meta-name" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Custom container metadata. The name at the end
                        represents the name of your metadata..</p></doc>
            </param>
<!--           
            <representation mediaType="application/http" element="files:Files" >
                <doc title="Create Container Request">
                    <xsdxt:code href="../wadl/samples/cf-createContainer_request.txt"/>
                </doc>
            </representation>  
-->            
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Create Container with Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-createContainerWithMetadata_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="201 202"> 
<!--            
            <representation mediaType="application/http" element="files:Files" >
                <doc title="Create Container Response">
                    <xsdxt:code href="../wadl/samples/cf-createContainer_response.txt"/>
                </doc>
            </representation>  
-->            
            <representation mediaType="text/xml" element="files:Files" > 
                <doc title="Create Container with Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-createContainerWithMetadata_response.txt"/>

                </doc>
            </representation>     
        </response>
    </method>
   
    <method name="DELETE" id="deletecontainer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Container">
            <para role="shortdesc">Deletes an empty container.</para>
            <para>A <command>DELETE</command> operation against a storage container permanently removes it. The container must be empty before it can be deleted.</para>
            <para>Before using <command>DELETE</command>, you can use <command>GET</command> operation against the container to list any objects it contains. (See FIXME.)</para>
            <para>A status code of 204 (No Content) indicates
                success. A status code of 404 (Not Found) is returned if the requested container is not found. A status code of 409
                (Conflict) is returned if the container is not empty.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Delete Container Request">
                    <xsdxt:code href="../wadl/samples/cf-deleteContainer_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204"> 
            <representation mediaType="text/xml" element="files:Files" > 
                <doc title="Delete Container Response">
                    <xsdxt:code href="../wadl/samples/cf-deleteContainer_response.txt"/>                   
                </doc>
            </representation>     
        </response>
        &deleteContainerFaults;        
    </method>
 
    <method name="POST" id="updateacontainermeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create or Update Container Metadata">
            <para role="shortdesc">Creates or updates the container metadata by associating custom metadata headers with the container level URI. These headers
                must have the format, X-Container-Meta-name.</para>
            <para>To set or edit container metadata, perform a <command>POST</command> operation to the container. The operation must include <code>X-Container-Meta-name</code>, where name is the name of your custom metadata. Subsequent <command>POST</command>POST to the header using the same metadata name overwrite the previous value. </para>
            <para>To view your metadata changes, perform a <command>HEAD</command> operation on the container. (For more information, see FIXME.) Do not try to send the metadata in your <command>HEAD</command> request. </para>
            <para>A status code of 204 (No Content) indicates success. Status
                code 404 (Not Found) is returned when the requested container does not exist.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Meta-name" style="header"
                required="true" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The container metadata. name is the name for the metadata. </p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Create or Update Container Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-createContainerMetadata_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204"> 
            <representation mediaType="application/http">
                <doc title="Create or Update Container Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-createContainerMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &getContainerMetadataFaults;
    </method>

    <method name="HEAD" id="retrievecontainermeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Container Metadata">
            <para role="shortdesc">Gets container metadata, including
                the number of objects in the container and the total bytes for all
                objects stored in the container.</para>
            <para>Use a <command>HEAD</command> operation against the container to return the following metadata: </para>
            <itemizedlist spacing="compact">
                <listitem><para>How many objects are in the container (<code>X-Container-Object-Count</code>)</para></listitem>
                <listitem><para>The total bytes for all objects stored in the container (<code>X-Container-Bytes-Used</code>)</para></listitem>
                <listitem><para>Any custom metadata that is set on the container (<code>X-Container-Meta-name</code>)</para></listitem>
            </itemizedlist>
            <para>To set and edit your custom metadata, see FIXME Section 5.2.4: “Set or Edit Container Metadata”.</para>
            <para>If the container exists, a status code of 2xx (between 200 and 299, inclusive) is returned. If the container does not exist,
                a status code of 404 (Not Found) is returned.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>       
        <request>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Get Container Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-getContainerMetadata_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204">
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Object-Count" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                    number of objects in the container. </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Bytes-Used" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The total number
                    of bytes used for all objects in the container.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Meta-name" style="header"
                required="true" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Any metadata set on the container. </p></doc>
            </param> 
            <representation mediaType="application/http">
                <doc title="Get Container Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-getContainerMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &getContainerMetadataFaults;
    </method>
    
    <method name="POST" id="deletecontainermeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Container Metadata">
            <para role="shortdesc">Deletes container metadata.</para>
            <para>To delete a metadata header, use <command>POST</command> to send an empty value for that particular header, such as
                <code>X-Container-Meta-Subject:</code>.</para>
            <para>If the tool you are using to communicate with Cloud Files does not support sending
                empty headers (such as older versions of cURL), send the header <code>X-Remove-Container-Meta-name: arbitrary value</code>, where <code>name</code> is the name of your
                custom header. <code>arbitrary value</code>can be any value, and it will not be used.  </para>
            <para>To set and edit your custom metadata, see FIXME Section 5.2.4: “Set or Edit Container Metadata”.</para>
            <para>A status code of 2xx (between 200 and 299, inclusive) indicates success. If the container does not exist,
                a status code of 404 (Not Found) is returned.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>       
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Remove-Container-Meta-name" style="header"
                required="true" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                    metadata to be deleted. name represents the name of the metadata.</p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >               
                <doc title="Delete Container Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-deleteContainerMetadata_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204">

            <representation mediaType="application/http">
                <doc title="Delete Container Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-deleteContainerMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &getContainerMetadataFaults;
    </method>
       
 <!-- Object Methods-->
 <!--   
    <method name="GET" id="retrieveobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Object Data">
            <para role="shortdesc">Gets data for the specified
                object.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/getobj_http.msg"/>
                </doc>
            </representation>
        </response>
    </method>
    
    
    <method name="PUT" id="createobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create or Update Object">
            <para role="shortdesc">Creates or updates the content and
                metadata for a specified object.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="ETag" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The MD5
                        checksum of your object's data. (stored in
                        header)</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Disposition" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The new
                        browser behavior for the file, so that the
                        downloader can save the file rather than
                        displaying it using default browser settings.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Encoding" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        underlying media type of the compressed file.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-At" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        certain date, in the format of a Unix Epoch
                        timestamp, when the object will be removed.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-After" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        certain date, in the format of a Unix Epoch
                        timestamp, after which the object will be
                        removed. Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Object-Meta" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        custom object metadata. * represents the name
                        of metadata. Stored in header.</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/createobj_http.msg"/>
                </doc>
            </representation>
        </request>
        <response status="201"> </response>
    </method>
-->
<!--  Object services  -->  
<!--    
    <method name="PUT" id="putcopiedobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Copy Object">
            <para role="shortdesc">Copies an object to another object
                in the OpenStack Object Storage system.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Copy-From" style="header" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        container and object name of the <b>source</b>
                        object in the form of “/container/object”.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Length" style="header" required="true"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        content length, which is zero under this
                        situation. Stored in header.</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/copyobj_httphead.msg"/>
                </doc>
            </representation>
        </request>
        <response status="201"> </response>
    </method>
-->
<!--    
    <method name="COPY" id="copyobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Copy Object">
            <para role="shortdesc">Copies an object to another object
                with a new name in the OpenStack Object Storage
                system.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Destination" style="header" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        container and object name of the
                            <b>destination</b> object in the form of
                        “/container/object”. (stored in
                    header)</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/copyobj_httphead.msg"/>
                </doc>
            </representation>
        </request>
        <response status="201"> </response>
    </method>
    <method name="HEAD" id="retrieveobjectmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Object Metadata">
            <para role="shortdesc">Gets object metadata and other
                standard HTTP headers.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/getobjmeta_httphead.msg"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="updateaobjmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update Object Metadata">
            <para role="shortdesc">Updates arbitrary key/value
                metadata. Metadata must be in the format
                X-Object-Meta-*. You can also assign X-Delete-At or
                X-Delete-After to expiring objects. You cannot use
                this operation to change other headers, such as
                Content-Type.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Object-Meta" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        container metadata. * represents the name of
                        metadata. Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-At" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        certain date, in the format of a Unix Epoch
                        timestamp, when the object will be removed.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-After" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        certain date, in the format of a Unix Epoch
                        timestamp, after which the object is removed.
                        Stored in header.</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/updateobjmeta_httphead.msg"/>
                </doc>
            </representation>
        </request>
        <response status="202"> </response>
    </method>
    <method name="DELETE" id="deleteobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Object">
            <para role="shortdesc">Permanently deletes an object from
                the OpenStack Object Storage system. In combination
                with the COPY command, you can use COPY and then
                DELETE to effectively move an object.</para>
        </wadl:doc>
        <response status="204"> </response>
    </method>
-->    
</application>
