src/wadl/rax-cloudFiles-api-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../wadl/common.ent">
    %common;
    
    
]>

<application 
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:files="http://docs.openstack.org/api/openstack-object-storage/1.0">

<!--*******************************************************-->
<!--             All Resources                             -->
<!--*******************************************************-->

    <resources base="https://storage101.ord1.clouddrive.com/">
        <resource id="version" path="v1">
            <resource id="account" path="{account}">
                <param name="account_info" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            unique account identifier.</p>
                    </doc>
                </param>
                <method href="#listcontainers"/>
                <method href="#retrieveaccountmeta"/>
                <method href="#updateaccountmeta"/>
                <method href="#deleteaccountmeta"/>

                <resource id="container" path="{container}">
                    <param name="container" style="template"
                        type="xsd:string">
                        <doc>
                            <p xmlns="http://www.w3.org/1999/xhtml">
                                The unique identifier of the
                                container.</p>
                        </doc>
                    </param>
                    <method href="#listObjects"/>
                    <method href="#createcontainer"/>
                    <method href="#deletecontainer"/>
                    <method href="#retrievecontainermeta"/>
                    <method href="#updateacontainermeta"/>

                    <resource id="object" path="{object}">
                        <param name="object" style="template"
                            type="xsd:string">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   > The unique identifier of the
                                   object.</p>
                            </doc>
                        </param>
                        <method href="#createobject"/>
                        <method href="#deleteobject"/>
                        <method href="#copyobject"/>
                        <method href="#retrieveobjectmeta"/>
                        <method href="#updateaobjmeta"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
<!--*******************************************************-->
<!--               Resource Types                          -->
<!--*******************************************************-->
<!--    
    <resource_type id="ContainersList">
        <method href="#listContainers"/>
    </resource_type>
    <resource_type id="ObjectsList">
        <method href="#listObjects"/>
    </resource_type>
    <resource_type id="RetrieveObject">
        <method href="#retrieveobject"/>
    </resource_type>
-->    
<!--*******************************************************-->
<!--               All Methods                             -->
<!--*******************************************************-->
    
<!-- Storage Account Services Methods -->
    
    <method name="GET" id="listContainers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List Account Containers">
            <para role="shortdesc">Lists storage containers, sorted by
                name.</para>
            <para>The container is the basic storage unit in Cloud Files. To view a list of the containers in your account, perform a <code>GET</code> operation against your storage account URL.</para>
            <para>The list is limited to 10,000 containers at a time. See the section, "Controlling a Large List of Containers," for information on limiting and navigating the list. </para> 
            <para>Container names are sorted based on a binary comparison (
                <link
                xlink:href="http://www.sqlite.org/datatype3.html#collation"
                >http://www.sqlite.org/datatype3.html#collation</link>), a built-in collating function
                that compares string data using SQLite's memcmp() function,
                regardless of text encoding.</para>
            <para>A list of containers is returned in the response body, one container per line. </para>
            <para>The HTTP response status code is a value from 200 to 299, inclusive. A 200 (OK) code returns if there are containers and a 204 (No Content) code returns if there are no containers.</para>
            <para><note>At this time, a <code>prefix</code> query parameter is not supported at the account level.</note></para>
            <para><title>Format Container List </title></para>
            <para>If you append the <code>?format=xml</code> or <code>?format=json</code> query parameter to the storage account URL, the service returns container information serialized in the specified format. To format your results, you must place this query parameter before any other parameters. The sample responses below are formatted for readability. In the responses, <code>count</code> is the number of objects in the container, and <code>bytes</code> is the number of bytes in the container.</para>
            <para><title>Controlling a Large List of Containers</title></para>
            <para>A <code>GET</code>operation on the storage account URL returns a list of up to 10,000 container names. You can control and limit this list of results by using the <code>marker</code>, <code>end_marker</code>, and <code>limit</code> parameters. These parameters provide a mechanism to iterate through the entire list of containers. Keep in mind that the value for <code>marker</code> needs to be URL-encoded before issuing the request.</para>
            <para>The <code>marker</code> parameter tells Cloud Files where to begin your list of containers and <code>end_marker</code>end_marker specifies where to end the list. You can use them independently or together, separated by an <code>&amp;</code>. If you do not specify them, your list displays up to 10,000 containers. Note that the <code>marker</code> and <code>end_marker</code> values should be URL-encoded prior to sending the HTTP request.</para>
            <para>You can use the <code>limit</code> parameter to reduce the number of returned objects. </para>
            <para>If the number of returned items equals the <code>limit</code> used (or 10,000 if no <code>limit</code> was specified), you can assume there are more object names.</para>
            <para>For example, user a listing of five container names:</para>
            <para><programlisting>
  apples
  bananas
  kiwis
  oranges
  pears
            </programlisting></para>
            <para>Use a limit of two to show how things work:</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?limit=2
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c

  apples
  bananas
            </programlisting></para>
            <para>Because the operation returned two items, assume there are more container names to list and make another request with a marker of the last item returned:</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?limit=2&amp;marker=bananas
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
  
  kiwis
  oranges 
            </programlisting></para>
            <para>Again, two items are returned. There might be more.</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?limit=2&amp;marker=oranges
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
                    
  pears
            </programlisting></para>
            <para>This one-item response shows less than the limit number of container names, and indicates that this is the end of the list.</para>
            <para>By using <code>end_marker</code>, you can limit the result set to container names less than the given value.</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?end_marker=oranges
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
                    
  apples
  bananas
  kiwis
            </programlisting></para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="limit" style="query" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For an integer value n, limits the number of results to n values.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns container names greater in value than the specified marker. Only strings using UTF-8 encoding are valid.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="end_marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns container names less in value than the specified marker. Only strings using UTF-8 encoding are valid.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="format" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the serialized response format. Either json or
                        xml.</p></doc>
            </param>
            <representation mediaType="application/xml" element="files:Files" >
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_request.xml"/>
                </doc>
            </representation>    
            <representation mediaType="application/json" element="files:Files" >
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_request.json"/>
                </doc>
            </representation>           
        </request>
        <response status="200 204">
            <representation mediaType="application/xml" xml:lang="EN">
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_response.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json" xml:lang="EN">
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_response.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="HEAD" id="retrieveaccountmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Account Metadata">
            <para role="shortdesc">Gets container metadata, such as
                the number of containers and the total bytes stored in
                Cloud Files for the account.</para>
            <para>Perform a <code>HEAD</code> operation on your storage account URL to get how many containers you have in your account (X-Account-Container-Count) and how many total bytes your account uses (<code>X-Account-Bytes-Used</code>).</para>
            <para>The HTTP return code is 2xx (between 200 and 299, inclusive) if the request succeeds. In the example, a 204 (No Content) code returns and there is no information in the response body. A 401 (Unauthorized) is returned for an invalid account or authentication token.</para>
        </wadl:doc>
        <request>
            <representation mediaType="text/xml" element="files:Files" >
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountMetadata_request.txt"/>
                </doc>
            </representation>             
        </request>
        <response status="204">
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Container-Count" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of containers.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Bytes-Used" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The total number of bytes that are stored in Cloud Files for the account.
                </p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files">
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &headAcctMetaFaults;
    </method>
    
    <method name="POST" id="updateaccountmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create or Update Account Metadata">
            <para role="shortdesc">Creates or updates account metadata
                by associating custom metadata headers with the
                account level URI. These headers must have the format
                <code>X-Account-Meta-*</code>.</para>
            <para>You can associate custom metadata headers with the account level URI. To create or update an account metadata header, submit a POST operation. These headers must have the format <code>X-Account-Meta-*</code>, where * is replaced with a name.</para>
            <para>Subsequent <code>POST</code> operations for the same key/value pair overwrite the previous value.</para> 
            <para>A status code of 2xx (between 200 and 299, inclusive) indicates success. No response body is returned.</para>
            <para>To confirm your metadata changes, you can perform a <code>HEAD</code> operation on the account. (For information, see "Get Account Metadata".) Do not send the metadata in your <code>HEAD</code> operation.</para> 
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Meta" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        account metadata. The asterisk (*) represents
                        the name of metadata.</p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-updateAccountMetadata_request.txt"/>
                </doc>
            </representation>   
        </request>
        <response status="204"> 
            <representation mediaType="text/xml" element="files:Files">
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-updateAccountMetadata_response.txt"/>
                </doc>
            </representation>       
        </response>
    </method>
    
    <method name="POST" id="deleteaccountmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Account Metadata">
            <para role="shortdesc">Deletes a metadata
                header.</para>
            <para>To delete a metadata header, send
                an empty value for that particular header, such as for
                the <code>X-Account-Meta-Book</code> header.</para>
            <para>If the tool you use to communicate with Cloud Files, such as an older version of cURL, does not support empty headers, send the <code>X-Remove-Account-Meta-<replaceable>name</replaceable>: <replaceable>arbitrary value</replaceable></code> header. For example, <code>X-Remove-Account-Meta-Book: x</code>. The <code><replaceable>arbitrary value</replaceable></code> is ignored. </para>
            <para>A status code of 2xx
                (between 200 and 299, inclusive) indicates
                success. No response body is returned.  </para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Remove-Account-Meta" style="header"
                required="false" type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>If the tool you use to
                        communicate with Cloud Files, such as an older
                        version of cURL, does not support empty
                        headers, send the
                            <code>X-Remove-Account-Meta-<replaceable>name</replaceable>:
                                <replaceable>arbitrary value</replaceable></code> header.</para></wadl:doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-deleteAccountMetadata_request.txt"/>
                </doc>
            </representation>   
        </request>
        <response status="204"> 
            <representation mediaType="text/xml" element="files:Files">
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-deleteAccountMetadata_response.txt"/>
                </doc>
            </representation> 
        </response>
    </method>
    
 <!--  Storage Container Services Methods  -->
    
    <method name="PUT" id="createcontainer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create Container">
            <para role="shortdesc">Creates a container.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Meta" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        custom container metadata. The asterisk (*)
                        represents the name of metadata. Stored in
                        header.</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/createcontainer_httphead.msg"/>
                </doc>
            </representation>
        </request>
        <response status="201"> </response>
    </method>
    <method name="DELETE" id="deletecontainer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Container">
            <para role="shortdesc">Deletes an empty container.</para>
        </wadl:doc>
        <response status="204"> </response>
    </method>
    <method name="HEAD" id="retrievecontainermeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Container Metadata">
            <para role="shortdesc">Gets container metadata, including
                the number of objects and the total bytes of all
                objects stored in the container.</para>
        </wadl:doc>
        <response status="204">
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Object-Count" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number of objects. (stored in
                    header)</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Bytes-Used" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The count
                        of bytes used in total. (stored in
                    header)</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/getcontainermeta_httphead.msg"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="updateacontainermeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create or Update Container Metadata">
            <para role="shortdesc">Creates or updates the arbitrary
                container metadata by associating custom metadata
                headers with the container level URI. These headers
                must have the format, X-Container-Meta-*.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Meta" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        container metadata. * represents the name of
                        metadata. Stored in header.</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/updatecontainermeta_httphead.msg"
                    />
                </doc>
            </representation>
        </request>
        <response status="204"> </response>
    </method>
    <method name="GET" id="listObjects">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List Objects">
            <para role="shortdesc">Lists the objects stored in the
                container.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="limit" style="query" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        number limit of results.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the marker, that the object names greater in
                        value than are returned.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="end_marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the marker, that the object names less in
                        value than are returned.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="prefix" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the prefix, which the returned object names
                        begin with.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="format" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the serialized response format, either json or
                        xml.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="delimiter" style="query" required="false"
                type="xsd:char">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the delimiter, that all the object names
                        nested in the container are
                    returned.</p></doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/objectlist.json"/>
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="retrieveobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Object Data">
            <para role="shortdesc">Gets data for the specified
                object.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/getobj_http.msg"/>
                </doc>
            </representation>
        </response>
    </method>
    
    
    <method name="PUT" id="createobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create or Update Object">
            <para role="shortdesc">Creates or updates the content and
                metadata for a specified object.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="ETag" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The MD5
                        checksum of your object's data. (stored in
                        header)</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Disposition" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The new
                        browser behavior for the file, so that the
                        downloader can save the file rather than
                        displaying it using default browser settings.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Encoding" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        underlying media type of the compressed file.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-At" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        certain date, in the format of a Unix Epoch
                        timestamp, when the object will be removed.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-After" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        certain date, in the format of a Unix Epoch
                        timestamp, after which the object will be
                        removed. Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Object-Meta" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        custom object metadata. * represents the name
                        of metadata. Stored in header.</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/createobj_http.msg"/>
                </doc>
            </representation>
        </request>
        <response status="201"> </response>
    </method>
<!--    
    <method name="PUT" id="putcopiedobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Copy Object">
            <para role="shortdesc">Copies an object to another object
                in the OpenStack Object Storage system.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Copy-From" style="header" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        container and object name of the <b>source</b>
                        object in the form of “/container/object”.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Length" style="header" required="true"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        content length, which is zero under this
                        situation. Stored in header.</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/copyobj_httphead.msg"/>
                </doc>
            </representation>
        </request>
        <response status="201"> </response>
    </method>
-->    
    <method name="COPY" id="copyobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Copy Object">
            <para role="shortdesc">Copies an object to another object
                with a new name in the OpenStack Object Storage
                system.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Destination" style="header" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        container and object name of the
                            <b>destination</b> object in the form of
                        “/container/object”. (stored in
                    header)</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/copyobj_httphead.msg"/>
                </doc>
            </representation>
        </request>
        <response status="201"> </response>
    </method>
    <method name="HEAD" id="retrieveobjectmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Object Metadata">
            <para role="shortdesc">Gets object metadata and other
                standard HTTP headers.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/getobjmeta_httphead.msg"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="updateaobjmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update Object Metadata">
            <para role="shortdesc">Updates arbitrary key/value
                metadata. Metadata must be in the format
                X-Object-Meta-*. You can also assign X-Delete-At or
                X-Delete-After to expiring objects. You cannot use
                this operation to change other headers, such as
                Content-Type.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Object-Meta" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        container metadata. * represents the name of
                        metadata. Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-At" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        certain date, in the format of a Unix Epoch
                        timestamp, when the object will be removed.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-After" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        certain date, in the format of a Unix Epoch
                        timestamp, after which the object is removed.
                        Stored in header.</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="samples/updateobjmeta_httphead.msg"/>
                </doc>
            </representation>
        </request>
        <response status="202"> </response>
    </method>
    <method name="DELETE" id="deleteobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Object">
            <para role="shortdesc">Permanently deletes an object from
                the OpenStack Object Storage system. In combination
                with the COPY command, you can use COPY and then
                DELETE to effectively move an object.</para>
        </wadl:doc>
        <response status="204"> </response>
    </method>
</application>
