src/wadl/rax-cloudFiles-api-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../wadl/common.ent">
    %common;
    
    
]>

<application 
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:files="http://docs.openstack.org/api/openstack-object-storage/1.0">

<!--*******************************************************-->
<!--             All Resources                             -->
<!--*******************************************************-->

    <resources base="https://storage101.ord1.clouddrive.com/" xml:id="storage-v1">
        <resource id="versions" path="v1">
     
            <resource id="account" path="{account}">
                <param name="account" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">Your
                            unique account identifier.</p>
                    </doc>
                </param>
                <method href="#listcontainers"/>
                <method href="#updateaccountmeta"/>
                <method href="#retrieveaccountmeta"/>  
                <method href="#deleteaccountmeta"/>

                <resource id="container" path="{container}">
                    <param name="container" style="template"
                        type="xsd:string">
                        <doc>
                            <p xmlns="http://www.w3.org/1999/xhtml">
                                The unique identifier of the
                                container.</p>
                        </doc>
                    </param>
                    <method href="#listcontainerobjects"/>
                    <method href="#createcontainer"/>
                    <method href="#deletecontainer"/>
                    <method href="#updateacontainermeta"/>
                    <method href="#retrievecontainermeta"/>
                    <method href="#deletecontainermeta"/>

                    <resource id="object" path="{object}">
                        <param name="object" style="template"
                            type="xsd:string">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The unique identifier of the
                                   object.</p>
                            </doc>
                        </param>
                        <method href="#getobjectdata"/>
                        <method href="#createobject"/>
                        <method href="#deleteobject"/>
                        <method href="#copyobject"/>
                        <method href="#retrieveobjectmeta"/>
                        <method href="#updateaobjmeta"/>
                    </resource>
                </resource>
            </resource>
        </resource>  
    </resources>
<!--***************************************************************-->
<!--               Resource Types                                  -->
<!--  These were in the OpenStack WADL. I'm not sure what they do. -->
<!--***************************************************************-->
<!--    
    <resource_type id="ContainersList">
        <method href="#listContainers"/>
    </resource_type>
    <resource_type id="ObjectsList">
        <method href="#listObjects"/>
    </resource_type>
    <resource_type id="RetrieveObject">
        <method href="#retrieveobject"/>
    </resource_type>
-->    
<!--*******************************************************-->
<!--               All Methods                             -->
<!--*******************************************************-->
    
<!-- Storage Account Services Methods -->
    
    <method name="GET" id="listcontainers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Account Containers">
            <para role="shortdesc">
                Lists storage containers sorted by name.
            </para>
            <para>This operation lists the storage containers in your account and sorts them by name. </para>
            <para>The container is the basic storage unit in Cloud Files. To view a list of the containers in your account, perform a <code>GET</code> operation against your storage account URL.</para>
            <para>The list is limited to 10,000 containers at a time. See "Controlling a Large List of Containers" below for information on limiting and navigating the list. </para> 
            <para>Container names are sorted based on a binary comparison (
                <link
                xlink:href="http://www.sqlite.org/datatype3.html#collation"
                >http://www.sqlite.org/datatype3.html#collation</link>), a built-in collating function
                that compares string data using SQLite's memcmp() function,
                regardless of text encoding.</para>
            <para>A list of containers is returned in the response body, one container per line. </para>
            <para>The HTTP response status code is a value from 200 to 299, inclusive. A 200 (OK) code returns if there are containers, and a 204 (No Content) code returns if there are no containers.</para>
           
            <para><emphasis role="bold">Format Container List</emphasis> </para>
            <para>If you append the <code>?format=xml</code> or <code>?format=json</code> query parameter to the storage account URL, the service returns container information serialized in the specified format. To format your results, you must place this query parameter before any other parameters. </para>
            <para>The example responses below are formatted for readability. </para>            
            <para><emphasis role="bold">Controlling a Large List of Containers</emphasis></para>
            <para>A <code>GET</code> operation on the storage account URL returns a list of up to 10,000 container names. You can control and limit this list of results by using the <code>marker</code>, <code>end_marker</code>, and <code>limit</code> parameters. These parameters provide a mechanism to iterate through the entire list of containers. </para>
            <para>The <code>marker</code> parameter tells Cloud Files where to begin your list of containers and <code>end_marker</code> specifies where to end the list. You can use them independently or together, separated by an ampersand (<code>&amp;</code>). If you do not specify them, your list displays up to 10,000 containers. Note that the <code>marker</code> and <code>end_marker</code> values should be URL-encoded prior to sending the HTTP request.</para>
            <para>You can use the <code>limit</code> parameter to reduce the number of returned objects. </para>
            <para>If the number of returned items equals the <code>limit</code> used (or 10,000 if no <code>limit</code> was specified), you can assume there are more object names.</para>
            <note><para>At this time, a <code>prefix</code> query parameter is not supported at the account level.</para></note>
            <para>As an example, start with an account that has five container names, as follows:</para>
            
            <para><programlisting>
  apples
  bananas
  kiwis
  oranges
  pears
            </programlisting></para>
            <para>Use a limit of 2 to show how things work:</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?limit=2
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c

  apples
  bananas
            </programlisting></para>
            <para>Because the operation returned two items, assume there are more container names to list and make another request with a marker of the last item returned:</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?limit=2&amp;marker=bananas
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
  
  kiwis
  oranges 
            </programlisting></para>
            <para>Again, two items are returned, and you assume that there may be more. So you make another GET request for two more.</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?limit=2&amp;marker=oranges
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
                    
  pears
            </programlisting></para>
            <para>This one-item response shows less than the limit of 2 container names requested, and indicates that this is the end of the list.</para>
            <para>By using <code>end_marker</code>, you can limit the result set to container names less than the given value.</para>
            <para><programlisting>
  GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123?end_marker=oranges
  Host: storage.clouddrive.com
  X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
                    
  apples
  bananas
  kiwis
            </programlisting></para>
            
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="limit" style="query" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For an integer value n, limits the number of results to n values.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns container names greater in value than the specified marker. Only strings using UTF-8 encoding are valid.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="end_marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns container names less in value than the specified marker. Only strings using UTF-8 encoding are valid.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="format" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the serialized response format - either json or
                        xml.</p></doc>
            </param>
            <representation mediaType="application/xml" element="files:Files" >
                <doc>                     
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_request.xml"/>
                </doc>
            </representation>    
            <representation mediaType="application/json" element="files:Files" >
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_request.json"/>
                </doc>
            </representation>           
        </request>
        <response status="200 204">           
            <representation mediaType="application/xml" xml:lang="EN">
                <doc>                 
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_response.xml"/>
                </doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" required="true" type="xsd:string" path="/account/container/name">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Name of the container.
                    </p></doc>
                </param>        
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="count" style="plain" required="true" type="xsd:int" path="/account/container/count">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of objects in the container.
                    </p></doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="bytes" style="plain" required="true" type="xsd:int" path="/account/container/bytes">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of bytes in the container.
                    </p></doc>
                </param>    
            </representation>
            <representation mediaType="application/json" xml:lang="EN">                
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_response.json"/>
                </doc>
<!--                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" required="true" type="xsd:string" path="$.*.name">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Name of the container.
                    </p></doc>
                </param>        
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="count" style="plain" required="true" type="xsd:int" path="$.*.count">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of objects in the container.
                    </p></doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="bytes" style="plain" required="true" type="xsd:int" path="$.*.bytes">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of bytes in the container.
                    </p></doc>
               </param> 
-->
            </representation>
        </response>
    </method>

    <method name="HEAD" id="retrieveaccountmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get Account Metadata">
            <para role="shortdesc">
                Gets account metadata.</para>
            <para>Perform a <code>HEAD</code> operation on your storage account URL to get the following information: </para>
            <itemizedlist spacing="compact">
                <listitem>
                    <para>How many objects are in your account (<code>X-Account-Object-Count</code>)</para>
                </listitem>
                <listitem>
                    <para>How many total bytes your account uses (<code>X-Account-Bytes-Used</code>)</para>
                </listitem>
                <listitem>
                    <para>How many containers you have in your account (<code>X-Account-Container-Count</code>)</para>
                </listitem>
            </itemizedlist>        
            <para>The HTTP return code is 2xx (between 200 and 299, inclusive) if the request succeeds. In the example, a 204 (No Content) code is returned. A 401 (Unauthorized) is returned for an invalid account or authentication token. </para>
                <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="text/xml" element="files:Files">
                <doc title="Get Account Metadata Request" >
                    <xsdxt:code href="../wadl/samples/cf-getAccountMetadata_request.txt"/>
                </doc>
            </representation>             
        </request>
        <response status="204">
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Object-Count" style="header" required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The total number of objects that are stored in Cloud Files for the account.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Bytes-Used" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The total number of bytes that are stored in Cloud Files for the account.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Container-Count" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The total 
                        number of containers that are stored in the Cloud Files for the account.</p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files">
                <doc title="Get Account Metadata Response" > 
                    <xsdxt:code href="../wadl/samples/cf-getAccountMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &headAcctMetaFaults;
    </method>
    
    <method name="POST" id="updateaccountmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create or Update Account Metadata">
            <para role="shortdesc">
                Creates or updates account metadata.
            </para>
            <para>You can associate custom metadata headers with the account level URI. To create or update an account metadata header, submit a POST operation. These headers must have the format <code>X-Account-Meta-name</code>. Replace name with name of your metadata. (In the example request below, the metadata headers are <code>X-Account-Meta-Book</code> and <code>X-Account_Meta-Subject</code>.) </para>
            <para>Subsequent <code>POST</code> operations for the same key/value pair overwrite the previous value.</para> 
            <para>A status code of 2xx (between 200 and 299, inclusive) indicates success. </para>
                <para>This operation does not require a request body and does not return a response body.</para>
            <para>To confirm your metadata changes, you can perform a <code>HEAD</code> operation on the account. (For information, see <xref linkend="HEAD_retrieveaccountmeta_v1__account__accountServicesOperations_d1e000"/>.) Do not send the metadata in your <code>HEAD</code> operation.</para> 
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Account-Meta-name" style="header" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Header for the
                        account metadata that you want to create or update. Replace the name at the end of the header with the name for your metadata.
                </p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Create or Update Account Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-updateAccountMetadata_request.txt"/>
                </doc>
            </representation>   
        </request>
        <response status="204"> 
            <representation mediaType="text/xml" element="files:Files">
                <doc title="Create or Update Account Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-updateAccountMetadata_response.txt"/>
                </doc>
            </representation>       
        </response>
    </method>
    
    <method name="POST" id="deleteaccountmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete Account Metadata">
            <para role="shortdesc">
                Deletes account metadata.</para>
            <para>To delete a metadata header, use the <code>POST</code> operation to send
                an empty value for that particular header.</para>
            <para>If the tool you use to communicate with Cloud Files does not support empty headers, such as an older version of cURL, send the <code>X-Remove-Account-Meta-<replaceable>name</replaceable>: <replaceable>arbitrary value</replaceable></code> header. The <code><replaceable>arbitrary value</replaceable></code> is ignored. In the example request below, <code>X-Remove-Account-Meta-Book: x</code> is used.</para>
            <para>A status code of 2xx (between 200 and 299, inclusive) indicates
                success.</para> 
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Remove-Account-Meta-name" style="header"
                required="true" type="xsd:string">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN"><para>Header to send to delete account metadata. Replace the name at the end of the header with the name for your metadata.</para></wadl:doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Delete Account Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-deleteAccountMetadata_request.txt"/>
                </doc>
            </representation>   
        </request>
        <response status="204"> 
            <representation mediaType="text/xml" element="files:Files">
                <doc title="Delete Account Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-deleteAccountMetadata_response.txt"/>
                </doc>
            </representation> 
        </response>
    </method>
  
 <!--  Storage Container Services Methods  -->
    
    <method name="GET" id="listcontainerobjects">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List Container Objects">
            <para role="shortdesc">Lists the objects stored in the
                container.</para>
            <para>This operation against a storage container name retrieves a list of objects
                stored in the container. Additionally, you can use optional query parameters to refine the list results.</para>    
            <para>A request with no query parameters returns the full list of object names stored in the
                container, up to 10,000 names. The response body shows the object names as one object name per line. Specifying the query parameters filters the full
                list and returns a subset of objects.  For information on limiting and controlling the list, see “Controlling a Large List of Objects” below.</para>
            <para>The HTTP response status code is a value from 200 to 299, inclusive. A status code of 200 (OK) is returned if there are objects, and a 204 (No Content) is returned if there are no objects. If the container does not
                exist, or if an incorrect account is specified, a status code 404 (Not Found) is returned.</para>
            <para>For information on filtering the results of a container list, see <xref linkend="Pseudo-Hierarchical_Folders_Directories-d1e1580"/>.</para>
            
            <para><emphasis role="bold">Format Object List</emphasis></para>
            <para>If you append the <code>format=xml</code> or the <code>format=json</code> query parameter to the storage account URL, the service returns additional object information serialized in the specified format. The status codes are the same when using <code>format=xml</code> or <code>format=json</code>. However, <code>Content-Type</code> matches the specified format. The example responses below are formatted for readability.</para>
            
            <para><emphasis role="bold">Controlling a Large List of Objects</emphasis></para>
            <para>A <command>GET</command> request against the container account URL returns a list of up to 10,000 objects. You can limit and control this list of results by using the <code>marker</code>, <code>end_marker</code>, and <code>limit</code> parameters.</para>
            <para>The <code>marker</code> parameter tells Cloud Files where to begin your list of objects, and <code>end_marker</code> tells where to end the list. You can use them either independently or together, separated by an ampersand (<code>&amp;</code>). If you do not specify them, your list displays up to 10,000 objects. Note that the <code>marker</code> and <code>end_marker</code> values should be URL-encoded prior to sending the HTTP request.</para>
            <para>You can use the <code>limit</code> parameter to reduce the number of returned objects.</para>
            <para>If the number of returned items equals the <code>limit</code> used (or 10,000 if no <code>limit</code> was specified), you can assume there are more object names.</para>
            <para>As an example, use a listing of 5 object names, as follows:</para>
            
            <para><programlisting>
 gala
 grannysmith
 honeycrisp
 jonagold
 reddelicious
            </programlisting></para>
            <para>Use a <code>limit</code> of 2 to show how things work:</para>
            <para><programlisting>
 GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123/AppleType?limit=2
 Host: storage.clouddrive.com
 X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
 
 gala
 grannysmith
            </programlisting></para>
            <para>Because the request returned two items, assume there are more object names to list and make another request with a <code>marker</code> of the last item returned:</para>
            <para><programlisting>
 GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123/AppleType?limit=2&amp;marker=grannysmith
 Host: storage.clouddrive.com
 X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
 
 honeycrisp
 jonagold
            </programlisting></para>
            <para>Again, two items are returned, and you assume that there may be more. So you make another GET request for two more.</para>
            <para><programlisting>
 GET /v1/MossoCloudFS_0672d7fa-9f85-4a81-a3ab-adb66a880123/AppleType?limit=2&amp;marker=jonagold
 Host: storage.clouddrive.com
 X-Auth-Token: f064c46a782c444cb4ba4b6434288f7c
 
 reddelicious
            </programlisting></para>
            <para>This one-item response shows less than the limit of two object names requested, and indicates that this is the end of the list.</para>      
        </wadl:doc>
        
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="limit" style="query" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For an integer n, limits the number of results to n values.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns object names greater in value than the
                    specified marker.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="end_marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns object names less in value than the specified
                    marker.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="prefix" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For a string value x, causes the results to be limited to object names
                    beginning with the substring x.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="format" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Specifies either json or xml
                  to return the respective serialized response.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="delimiter" style="query" required="false"
                type="xsd:char">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For a character c, returns the object names nested in the container
                    (without the need for the directory marker objects).</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="path" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For a string x, returns the object names nested in the pseudo path. Equivalent to setting delimiter to '/' and prefix to the path with a '/' on the end. 
                    For more information about pseudo paths, see the section on pseudo hierarchical folders and directories.
                </p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="List Container Objects Request">                     
                    <xsdxt:code href="../wadl/samples/cf-getContainerObjects_request.txt"/>
                </doc>
            </representation> 
            <representation mediaType="application/xml" element="files:Files" >
                <doc>                     
                    <xsdxt:code href="../wadl/samples/cf-getContainerObjects_request.xml"/>
                </doc>
            </representation>    
            <representation mediaType="application/json" element="files:Files" >
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getContainerObjects_request.json"/>
                </doc>
            </representation>           
        </request>
        <response status="200 204">
            
            <representation mediaType="text/xml" xml:lang="EN">
                <doc title="List Container Objects Response">                 
                    <xsdxt:code href="../wadl/samples/cf-getContainerObjects_response.txt"/>
                </doc>
                
            </representation>
                <representation mediaType="application/xml" xml:lang="EN">
                    <doc>                 
                        <xsdxt:code href="../wadl/samples/cf-getContainerObjects_response.xml"/>
                    </doc>
                   
                </representation>
                <representation mediaType="application/json" xml:lang="EN">
                    
                    <doc>
                        <xsdxt:code href="../wadl/samples/cf-getContainerObjects_response.json"/>
                    </doc>
                    
                </representation>
        </response>
        &deleteContainerFaults;
    </method>

    <method name="PUT" id="createcontainer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create Container">
            <para role="shortdesc">
                Creates a container.
            </para>
            <para>This operation creates a Cloud Files container. Containers are storage compartments for your data. The URL-encoded name must be less than 256 bytes and cannot contain a forward slash character (/). You can create up to 500,000 containers in your Cloud Files account.</para>
            <para>You can assign custom metadata for containers by including additional HTTP headers with an <code>X-Container-Meta-</code> prefix on the <command>POST</command> request. See <xref linkend="POST_updateacontainermeta_v1__account___container__containerServicesOperations_d1e000"/> for details on setting custom metadata. </para>
            <para>Using custom container metadata, you can create information in the header to effectively tag a container with metadata. The container metadata restrictions are the same as object metadata. You can have 4096 bytes maximum of overall metadata, with a maximum of 90 distinct metadata items. Each can have a name length of up to 128 characters with a maximum of 256 bytes in the value. Any valid UTF-8 encoded string value is allowed for metadata. In addition for custom metadata, we recommend that you URL-encode any non-ASCII values using a "%" symbol, followed by the two-digit hexadecimal ISO-Latin code for the character.</para>
            <para>A status code of 201 (Created) indicates that the container was created as requested. Container <command>PUT</command> requests are idempotent, and a code of 202 (Accepted) is returned if the container existed prior to the request. If you request a <command>PUT</command> to a container with an <code>X-Container-Meta-</code> prefix in the header, your <command>GET</command> or <command>HEAD</command> request responses carry the metadata prefix from the container in subsequent requests.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Meta-name" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Custom container metadata. Replace the name at the end of the header with the name for your metadata.</p></doc>
            </param>
           
            <representation mediaType="application/http" element="files:Files" >
                <doc title="Create Container Request">
                    <xsdxt:code href="../wadl/samples/cf-createContainer_request.txt"/>
                </doc>
            </representation>  
           
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Create Container with Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-createContainerWithMetadata_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="201 202"> 
            
            <representation mediaType="application/http" element="files:Files" >
                <doc title="Create Container Response">
                    <xsdxt:code href="../wadl/samples/cf-createContainer_response.txt"/>
                </doc>
            </representation>  
            
            <representation mediaType="text/xml" element="files:Files" > 
                <doc title="Create Container with Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-createContainerWithMetadata_response.txt"/>

                </doc>
            </representation>     
        </response>
    </method>
   
    <method name="DELETE" id="deletecontainer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Container">
            <para role="shortdesc">Deletes an empty container.</para>
            <para>A <command>DELETE</command> operation against a storage container permanently removes it. The container must be empty before it can be deleted.</para>
            <para>Before using <command>DELETE</command>, you can use a <command>GET</command> operation against the container to list any objects it contains. (See <xref linkend="GET_listcontainerobjects_v1__account___container__containerServicesOperations_d1e000"/>.)</para>
            <para>A status code of 204 (No Content) indicates
                success. A status code of 404 (Not Found) is returned if the requested container is not found. A status code of 409
                (Conflict) is returned if the container is not empty.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Delete Container Request">
                    <xsdxt:code href="../wadl/samples/cf-deleteContainer_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204"> 
            <representation mediaType="text/xml" element="files:Files" > 
                <doc title="Delete Container Response">
                    <xsdxt:code href="../wadl/samples/cf-deleteContainer_response.txt"/>                   
                </doc>
            </representation>     
        </response>
        &deleteContainerFaults;        
    </method>
 
    <method name="POST" id="updateacontainermeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create or Update Container Metadata">
            <para role="shortdesc">Creates or updates the container metadata by associating custom metadata headers with the container level URI. These headers
                must have the format, X-Container-Meta-name.</para>
            <para>To set or edit container metadata, perform a <command>POST</command> operation to the container. The operation must include <code>X-Container-Meta-name</code>, where name is the name of your custom metadata. Subsequent <command>POST</command>POST to the header using the same metadata name overwrite the previous value. </para>
            <para>To view your metadata changes, perform a <command>HEAD</command> operation on the container. (For more information, see <xref linkend="HEAD_retrievecontainermeta_v1__account___container__containerServicesOperations_d1e000"/>.) Do not try to send the metadata in your <command>HEAD</command> request. </para>
            <para>A status code of 204 (No Content) indicates success. Status
                code 404 (Not Found) is returned when the requested container does not exist.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
            <note><para>For information about adding metadata for the following purposes, see <xref linkend="containerMetadataOptions_d1e001"/>: </para>
                    <itemizedlist spacing="compact">
                        <listitem><para>Container quotas</para></listitem>
                        <listitem><para>Access log delivery</para></listitem>
                </itemizedlist></note>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Meta-name" style="header"
                required="true" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The container metadata. Replace the name at the end of the header with the name of your metadata. </p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Create or Update Container Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-createContainerMetadata_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204"> 
            <representation mediaType="application/http">
                <doc title="Create or Update Container Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-createContainerMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &only404Fault;
    </method>

    <method name="HEAD" id="retrievecontainermeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Container Metadata">
            <para role="shortdesc">Gets container metadata, including
                the number of objects in the container and the total bytes for all
                objects stored in the container.</para>
            <para>Use a <command>HEAD</command> operation against the container to return the following metadata: </para>
            <itemizedlist spacing="compact">
                <listitem><para>How many objects are in the container (<code>X-Container-Object-Count</code>)</para></listitem>
                <listitem><para>The total bytes for all objects stored in the container (<code>X-Container-Bytes-Used</code>)</para></listitem>
                <listitem><para>Any custom metadata that is set on the container (<code>X-Container-Meta-name</code>)</para></listitem>
            </itemizedlist>
            <para>To set and edit your custom metadata, see <xref linkend="POST_updateacontainermeta_v1__account___container__containerServicesOperations_d1e000"/>.</para>
            <para>If the container exists, a status code of 2xx (between 200 and 299, inclusive) is returned. If the container does not exist,
                a status code of 404 (Not Found) is returned.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>       
        <request>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Get Container Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-getContainerMetadata_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204">
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Object-Count" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                    number of objects in the container. </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Bytes-Used" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The total number
                    of bytes used for all objects in the container.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Meta-name" style="header"
                required="true" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Any metadata set on the container. The name at the end of the header is the name of your metadata. </p></doc>
            </param> 
            <representation mediaType="application/http">
                <doc title="Get Container Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-getContainerMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &only404Fault;
    </method>
    
    <method name="POST" id="deletecontainermeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Container Metadata">
            <para role="shortdesc">Deletes container metadata.</para>
            <para>To delete a metadata header, use <command>POST</command> to send an empty value for that particular header, such as
                <code>X-Container-Meta-Subject:</code>.</para>
            <para>If the tool you are using to communicate with Cloud Files does not support sending
                empty headers (such as older versions of cURL), send the header <code>X-Remove-Container-Meta-name: arbitrary value</code>, where <code>name</code> is the name of your
                custom header. <code>arbitrary value</code> can be any value, and it will not be used.  </para>
            <para>To set and edit your custom metadata, see <xref linkend="POST_updateacontainermeta_v1__account___container__containerServicesOperations_d1e000"/>.</para>
            <para>A status code of 2xx (between 200 and 299, inclusive) indicates success. If the container does not exist,
                a status code of 404 (Not Found) is returned.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>       
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Remove-Container-Meta-name" style="header"
                required="true" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                    metadata to be deleted. Replace the name at the end of the header with the name for your metadata.</p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >               
                <doc title="Delete Container Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-deleteContainerMetadata_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204">

            <representation mediaType="application/http">
                <doc title="Delete Container Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-deleteContainerMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &only404Fault;
    </method>
       
 <!-- Object Methods-->
   
    <method name="GET" id="getobjectdata">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Object Data">
            <para role="shortdesc">Gets data for the specified
                object.</para>
            <para>Perform <command>GET</command> operations against an object to retrieve the object's data </para>
            <para>You can perform conditional <command>GET</command> requests by using the following HTTP headers in the request:</para>
            <itemizedlist spacing="compact">
                <listitem><para><code>If-Match</code></para></listitem>
                <listitem><para><code>If-None-Match</code></para></listitem>
                <listitem><para><code>If-Modified-Since</code></para></listitem>
                <listitem><para><code>If-Unmodified-Since</code></para></listitem>
            </itemizedlist>
            <para>These headers are documented in <link xlink:href="http://www.ietf.org/rfc/rfc2616.txt"
                >http://www.ietf.org/rfc/rfc2616.txt</link>.</para>
            <para>You can fetch a portion of the data by using the HTTP <code>Range</code> header. To specify multiple ranges, separate the range specifications with a comma.</para> 
<!--
                <note><para>Currently, Cloud Files does not support the full specification for <code>Range</code>, but does provide basic support. 
                Cloud Files allows only a single range and can include OFFSET or LENGTH where either OFFSET or LENGTH is optional (not both at the same time). </para></note>
-->            
            <para>The types of range specifications are:</para>
            <itemizedlist>
                <listitem><para>Byte range specification: Use <code>FIRST_BYTE_OFFSET</code> to specify the start of the data range,
                    and <code>LAST_BYTE_OFFSET</code> to specify the end. You can omit the <code>LAST_BYTE_OFFSET</code> and if
                    you do, the value defaults to the offset of the last byte of data.</para></listitem>
                <listitem><para>Suffix byte range specification: Use <code>LENGTH</code> bytes to specify the length of the data
                    range.</para></listitem>              
            </itemizedlist>
            <para>The following table shows forms of the header and the ranges of data specified.</para>
            <para><table rules="all">
                <caption>Cloud Files Supported Range Formats</caption>
                <col width="50%"/>
                <col width="50%"/>
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Range of Object Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Range: bytes=-5</td>
                        <td>The last five bytes.</td>
                    </tr>
                    <tr>
                        <td>Range: bytes=10-15</td>
                        <td>The six bytes of data after a 10-byte offset.</td>
                    </tr>
                    <tr>
                        <td>Range: bytes=10-15,-5</td>
                        <td>A multi-part response that contains the last five bytes and the six bytes of data after a 10-byte offset. The <code>Content-Type</code> of the response is then <code>multipart/byteranges</code>.</td>
                    </tr>
                    <tr>
                        <td>Range: bytes=4-6</td>
                        <td>Bytes 4 to 6 inclusive.</td>
                    </tr>
                    <tr>
                        <td>Range: bytes=2-2</td>
                        <td>Byte 2, the third byte of the data.</td>
                    </tr>
                    <tr>
                        <td>Range: bytes=6-</td>
                        <td>Byte 6 and after.</td>
                    </tr>
                    <tr>
                        <td>Range: bytes=1-3,2-5</td>
                        <td>A multi-part response that contains bytes 1 to 3 inclusive, and bytes 2 to 5 inclusive. The <code>Content-Type</code> of the response is then <code>multipart/byteranges</code>.</td>
                    </tr> 
                </tbody>
            </table></para>            
            <para>Object data is returned in the response body. Object metadata is returned as HTTP headers. </para>
            <para>A status code of 2xx (between 200 and 299, inclusive) indicates success. Status code 404 (Not Found) is returned if the object does not exist.</para>
            <note><para>In the examples that follow that use ranges, the object contains the 10 bytes of data 0123456789.</para></note>
        </wadl:doc>
        <request>
            <representation mediaType="application/http">
                <doc title="Get Object Data Request">
                    <xsdxt:code href="../wadl/samples/cf-getObjectData_request.txt"/>
                </doc>
            </representation>
            <representation mediaType="application/http">
                <doc title="Get Object Data Request Using Range">
                    <xsdxt:code href="../wadl/samples/cf-getObjectDataWithRange_request.txt"/>
                </doc>
            </representation>
            <representation mediaType="application/http">
                <doc title="Get Object Data Request Using Multiple Ranges">
                    <xsdxt:code href="../wadl/samples/cf-getObjectDataMultipleRange_request.txt"/>
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/http">
                <doc title="Get Object Data Response">
                    <xsdxt:code href="../wadl/samples/cf-getObjectData_response.txt"/>
                </doc>
            </representation>
            <representation mediaType="application/http">
                <doc title="Get Object Data Response Using Range">
                    <xsdxt:code href="../wadl/samples/cf-getObjectDataWithRange_response.txt"/>
                </doc>
            </representation>
            <representation mediaType="application/http">
                <doc title="Get Object Data Response Using Multiple Ranges">
                    <xsdxt:code href="../wadl/samples/cf-getObjectDataMultipleRange_response.txt"/>
                </doc>
            </representation>
        </response>
        &only404Fault; 
    </method>
       
    <method name="PUT" id="createobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create or Update Object">
            <para role="shortdesc">Creates or updates the content and
                metadata for a specified object.</para>
            <para>Perform <command>PUT</command> operations to write, or overwrite, an object's content and metadata.</para>
            <para>You can ensure end-to-end data integrity by including an
                MD5 checksum of your object's data in the <code>ETag</code>
                header. You are not required to include the
                <code>ETag</code> header, but we recommend its use to
                ensure that the storage system successfully stores your
                object's content.</para>
            <para>You can cause an object to expire after a certain date
                and time by using the <code>X-Delete-At</code> or
                <code>X-Delete-After</code> headers during an object &PUT;
                operation. The <code>X-Delete-At</code> header requires a
                Unix Epoch timestamp, in integer form. For example,
                1348691905 represents Wed, 26 Sep 2012 20:38:25 GMT. By
                setting the header to a specific Epoch time, you indicate
                when you want the object to expire, not be served, and be
                deleted completely from the storage system. When Cloud Files
                detects one of these headers, the system automatically stops
                serving that object at the specified date and time, and
                shortly after the expiration date, it removes the object
                from the storage system.</para>
            <para>The HTTP response includes the MD5 checksum of the data
                written to the storage system. If you do not send the
                <code>ETag</code> in the request, you should compare the
                value returned with your content's MD5 locally to perform
                the end-to-end data validation on the client side. For
                manifest objects, the <code>ETag</code> is the MD5 checksum of
                the concatenated string of ETags for each segment in the
                manifest, which offers change detection but not direct
                comparison.</para> 
                <para>For more information, refer to <xref linkend="Create-Large-Objects-d10e"/>.</para>
            <note>
                <para>The best checks for a successful upload are to check
                    the <code>ETag</code> match with a checksum and to see if
                    you get a 404 (Not Found) status code when you do a
                    <command>GET</command>, <command>HEAD</command>,
                    <command>POST</command>, or <command>DELETE</command>.
                </para>
            </note>
            <para>Objects can be assigned custom metadata by including
                additional HTTP headers in the &PUT; request. To assign
                custom metadata, use an HTTP header with the
                <code>X-Object-Meta-</code> prefix. </para>
            <para>You can also specify <code>Content-Type</code> for your
                object. For example, you can specify <code>Content-Type:
                    audio/mpeg3</code> for mp3 files. </para>
            <para>A status code of 201
                (Created) indicates a successful write. Any status code in
                the 400 range denotes failure. The 401 (Unauthorized) status
                code is returned upon authentication failure. The 411
                (Length Required) status code denotes a missing
                <code>Content-Length</code> or <code>Content-Type</code>
                header in the request. If the MD5 checksum of the data written to the
                storage system does NOT match the optionally supplied
                <code>ETag</code> value, a 422 (Unprocessable Entity)
                status code is returned. </para>
            <para>No response body is returned.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="ETag" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The MD5
                        checksum of your object's data. </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Type" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The media type of the entity-body sent. If not specified, the <code>Content-Type</code> is guessed, by using the Python mimetypes library, based on the object path.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Disposition" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The new
                        browser behavior for the file, so that the
                        downloader can save the file rather than
                        displaying it using default browser settings.
                      </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Encoding" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        underlying media type of the compressed file.
                        </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-At" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        certain date, in the format of a Unix Epoch
                        timestamp, when the object will be removed.
                       </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-After" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        certain date, in the format of a Unix Epoch
                        timestamp, after which the object will be
                        removed. </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Object-Meta-name" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        custom object metadata. name at the end of this header represents the name
                        of your metadata.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Detect-Content-Type" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">If you set this header to <code>True</code>, the <code>Content-Type</code> that is sent in the request (if any) is ignored, and <code>Content-Type</code> is guessed, by using the Python mimetypes library, based on the object path. 
                </p></doc>
            </param>
            
            <representation mediaType="application/http">
                <doc title="Create or Update Object Request">
                    <xsdxt:code href="../wadl/samples/cf-createObject_request.txt"/>
                </doc>
            </representation> 
        </request>
        <response status="201"> 
            <representation mediaType="application/http">
                <doc title="Create or Update Object Response">
                    <xsdxt:code href="../wadl/samples/cf-createObject_response.txt"/>
                </doc>
            </representation>
        </response>
        &createObjectFaults;
    </method>

<!--    
    <method name="PUT" id="putcopiedobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Copy Object">
            <para role="shortdesc">Copies an object to another object
                in the OpenStack Object Storage system.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Copy-From" style="header" required="true"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        container and object name of the <b>source</b>
                        object in the form of “/container/object”.
                        Stored in header.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Length" style="header" required="true"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        content length, which is zero under this
                        situation. Stored in header.</p></doc>
            </param>
            <representation mediaType="application/http">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/copyobj_httphead.msg"/>
                </doc>
            </representation>
        </request>
        <response status="201"> </response>
    </method>
-->   
    <method name="COPY" id="copyobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Copy Object">
            <para role="shortdesc">Using the Destination header, copies an existing object to another object
                with a new name in the Cloud Files storage
                system.</para>
            <informaltable rules="all">
                <col width="10%"/>
                <col width="40%"/>
                <col width="50%"/>
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>URI</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><command>PUT</command></td>
                        <td><code>v1/{account}/{container}/{object}</code></td>
                        <td>Using the X-Copy-From header, copies an existing object to another object with a
                            new name in the Cloud Files storage system bu us. </td>
                    </tr>
                </tbody>
            </informaltable>
            <para>Suppose you upload a file with the wrong object name or
                content type, or you need to move some objects to another
                container. Without a server-side object copy feature, you
                would need to repeat uploading the same content and then
                delete the existing object. With a server-side object copy
                feature, you can save the step of re-uploading the content
                and thus also save the associated bandwidth charges, if any
                were to apply. </para>
            <para>There are two ways to copy an existing object to another
                object in Cloud Files. </para>
         
            <para>One way is to use a <command>PUT</command> request to the new object (the
                destination) location, but add the <code>X-Copy-From</code>
                header to designate the source of the data. The header value
                should be the container and object name of the source object
                in the form of <code>/container/object</code>. The HTTP specification of a
                <command>PUT</command> request with the <code>X-Copy-From</code> header requires a
                <code>Content-Length</code> header, but the storage system does not use the
                <code>Content-Length</code> to perform the operation. For
                this reason, you can simply send a
                <code>Content-Length</code> of zero (0). </para>
            <note>
                <para> You cannot copy an object larger than 5 GB (by
                    default). For more information about how to handle objects larger than 5 GB, see
                    <xref linkend="Create-Large-Objects-d10e"/>. </para>
            </note>
            <example>
                <title>Copy Object Method 1 - Using PUT</title>
                <programlisting>
  PUT /v1/<replaceable>account</replaceable>/<replaceable>destinationContainer</replaceable>/<replaceable>destinationObject</replaceable> HTTP/1.1
  Host: <replaceable>storageURL</replaceable>
  X-Auth-Token: <replaceable>yourAuthToken</replaceable>
  X-Copy-From: /<replaceable>sourceContainer</replaceable>/<replaceable>sourceObject</replaceable>
  Content-Length: 0                    
</programlisting>
            </example>
            <para>The second way to perform an object copy is similar. Use
                a <command>COPY</command> request to the existing object, and include the
                <code>Destination</code> header to specify the destination of
                the copy. The header value is the container and new object
                name in the form of <code>/container/object</code>. Unlike
                the first method, this method does not require a
                <code>Content-Length</code> header. <!-- 02-03-12 dsh Content Length header / note required by JIRA / tick DOC-100 -->
                <example>
                    <title>Copy Object Method 2 - Using COPY</title>
                    <programlisting>
  COPY /v1/<replaceable>account</replaceable>/<replaceable>sourceContainer</replaceable>/<replaceable>sourceObject</replaceable> HTTP/1.1
  Host: <replaceable>storageURL</replaceable>
  X-Auth-Token: <replaceable>yourAuthToken</replaceable>
  Destination: /<replaceable>destinationContainer</replaceable>/<replaceable>destinationObject</replaceable>
</programlisting>
                </example></para>
            <para>With both of these methods, the destination container
                must exist before attempting the copy.</para>
            <para>The status code for a successful object copy is 201
                (Created). </para>
            <para><note>
                <para>If you are copying many objects, you can improve the
                    total copy time by issuing several concurrent
                    <command>COPY</command> commands. Because Cloud Files
                    is a distributed storage system, your concurrent
                    <command>COPY</command> commands run on separate
                    machines simultaneously, which is much better than
                    waiting for one copy to finish before starting the next
                    <command>COPY</command> command. As a rule of thumb,
                    you can run up to 100 concurrent <command>COPY</command>
                    commands per container (running more will have
                    diminishing improvement). </para>
                <para>Another option is bulk importing of data. For
                    information about bulk imports, see <xref
                        linkend="Bulk_Import-d1e2094"/>.</para>
            </note>
                <!-- 02-06-12 dsh: Reworked this sentence / to remove the subjunctive / mood and make active -->If
                you want to move the object rather than copy it, send a <command>DELETE</command> request to the source object after
                copying it. A move is simply a <command>COPY</command> followed by a <command>DELETE</command>. All
                metadata is preserved during the object copy. Note that you
                can set metadata on the request to copy the object (with either
                the <command>PUT</command> or the <command>COPY</command>) and the metadata overwrites any
                conflicting keys on the destination object. </para>
            <!-- 02-06-12 dsh: Added ServiceNet / discussion to clarify / costs of copying  -->
            <para>Your account is not charged when you copy or move your
                objects within the same data center using the internal
                network URI, ServiceNet, as the storage URL. You can find your ServiceNet endpoint in the
                service catalog created when you authenticate your session.
                For information on how to authenticate your session, see
                <xref linkend="Authentication-d1e639"/>. As shown in the
                partial service catalog example below, the ServiceNet URI is listed as
                <code>internalURL</code>. The name is your Cloud Files
                storage URL with <code>snet-</code> pre-pended to it. If you
                do not know which data center you are working in, you can
                find it in the Cloud Control Panel. (For more information
                about service access endpoints, see <xref
                    linkend="Service-Access-Endpoints-d1e003"/>.)</para>
            <example>
                <title>Data Center Endpoints</title>
                <programlisting>
  "endpoints": [
    {
      "region": "DFW",
      <emphasis role="bold">"internalURL": "https://snet-storage101.dfw1.clouddrive.com/v1/MossoCloudFS_9491081f-7e12-4f56-98d0-cdb3037c8d7c"</emphasis>,
      "tenantId": "MossoCloudFS_9491081f-7e12-4f56-98d0-cdb3037c8d7c",
      "publicURL": "https://storage101.dfw1.clouddrive.com/v1/MossoCloudFS_9491081f-7e12-4f56-98d0-cdb3037c8d7c"
    },
    {
      "region": "ORD",
      <emphasis role="bold">"internalURL": "https://snet-storage101.ord1.clouddrive.com/v1/MossoCloudFS_9491081f-7e12-4f56-98d0-cdb3037c8d7c</emphasis>",
      "tenantId": "MossoCloudFS_9491081f-7e12-4f56-98d0-cdb3037c8d7c",
      "publicURL": "https://storage101.ord1.clouddrive.com/v1/MossoCloudFS_9491081f-7e12-4f56-98d0-cdb3037c8d7c"
    }
  ]
</programlisting>
            </example>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Copy_From" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Used with PUT, the
                    container and object name of the
                    source object in the form of
                    <code>/container/object</code>. </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Length" style="header" required="true"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Used with PUT, the
                    content length. Zero (0) is always acceptable here for this operation. 
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Destination" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Used with COPY, the
                        container and object name of the
                            destination object in the form of
                        <code>/container/object</code>. </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Type" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The media type of the entity-body sent. If not specified, the <code>Content-Type</code> is guessed, by using the Python mimetypes library, based on the object path.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Detect-Content-Type" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">If you set this header to <code>True</code>, the <code>Content-Type</code> that is sent in the request (if any) is ignored, and <code>Content-Type</code> is guessed, by using the Python mimetypes library, based on the object path. 
                </p></doc>
            </param>
            <representation mediaType="application/http">
                <doc title="Copy Object Request Using PUT">
                    <xsdxt:code href="../wadl/samples/cf-copyObjectPUT_request.txt"/>
                </doc>
            </representation>
            <representation mediaType="application/http">
                <doc title="Copy Object Request Using COPY">
                    <xsdxt:code href="../wadl/samples/cf-copyObjectCOPY_request.txt"/>
                </doc>
            </representation>    
        </request>
        <response status="201"> </response>
    </method>
    
    <method name="HEAD" id="retrieveobjectmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Object Metadata">
            <para role="shortdesc">Gets object metadata and other
                standard HTTP headers.</para>
            <para><command>HEAD</command> operations on an object are used to retrieve
                object metadata and other standard HTTP headers.</para> 
            <para>The only required header to be sent in the request is <code>X-Auth-Token</code> for 
                the authorization token.</para>
            <para> A status code of 200 (OK) indicates success.
                Status code 404 (Not Found) is returned when the object does not
                exist.</para>
            <para>This operation does not return a response body. Metadata is returned as
                HTTP headers.</para>
            <note><para>
                <remark security="writeronly">JIRA ticket 1-/ 21 metadata /
                    response clarity -- dsh 2012-03-07</remark> The
                <command>HEAD</command> return code for an object is different than that of a
                container. The <command>HEAD</command> request does not return a message body in
                the response, so a 2xx status code denotes success. When a
                <command>HEAD</command> request is performed against the container, it
                queries the container databases, and it does not retrieve
                the content from them. Thus, this returns the 204 (No
                Content) status code. However, when a <command>HEAD</command> request is
                performed against the object, it returns a 200 OK status
                code because it can view the content. </para> </note> 
        </wadl:doc>
        <request>
            <representation mediaType="application/http">
                <doc title="Get Object Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-getObjectMetadata_request.txt"/>
                </doc>
            </representation>    
        </request>
        <response status="200">
            <representation mediaType="application/http">
                <doc title="Get Object Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-getObjectMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &only404Fault; 
    </method>
  
    <method name="POST" id="updateaobjmeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Update Object Metadata">
            <para role="shortdesc">Sets or updates your object 
                metadata. Metadata must be in the format
                <code>X-Object-Meta-</code><replaceable>name</replaceable>, where <replaceable>name</replaceable> is the name of your metadaa. You can also assign <code>X-Delete-At</code> or
                <code>X-Delete-After</code> to expiring objects. You cannot use
                this operation to change other headers, such as
                <code>Content-Type</code>.</para>
            <para>You can set or update your custom metadata for existing
                objects by using a <command>POST</command> request to the object name. </para>
            <para>Metadata is set by using the header <code>X-Object-Meta-<replaceable>name</replaceable>: Foo</code> where
                <code><replaceable>name</replaceable></code> is the custom name for your metadata and <code>Foo</code>
                is the value. You can also set values for
                <code>X-Delete-At</code> and <code>X-Delete-After</code>
                to set expirations for objects. </para>
            <para> To remove previously-set object metadata, perform a
                <command>POST</command> request to the object name with
                <code>X-Remove-Object-Meta-name: Foo</code> where
                <code>name</code> is the name of your metadata.
                <code>Foo</code> is any term, and it will not be used. You
                must, however, send some value with the request. Otherwise,
                the metadata is not removed. </para>
            <para>For information on working with metadata when copying
                objects, see <xref linkend="COPY_copyobject_v1__account___container___object__objectServicesOperations_d1e000"/>.</para>
            <note>
                <title>Deleting Object Metadata</title>
                <para>All the object metadata is set at the same time. If
                    you want to edit or remove one header, simply
                    <command>POST</command> all other headers leaving out
                    the header that you want to remove. This means that if you
                    delete one entry without posting the others, the others
                    will also be deleted at that time. </para>
                <para>To remove all metadata on an object, simply perform a
                    <command>POST</command> request for the object with no
                    metadata specified. However, to remove container metadata,
                    you must send the header with an empty value.</para>
            </note>
            <para>A status code of 202
                (Accepted) indicates success. Status code 404 (Not Found) is
                returned if the requested object does not exist. </para>
            <para>This operation does not return a response body.</para>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Object-Meta-name" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                        container metadata. name represents the name of
                        your metadata. </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-At" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The date, in the format of a Unix Epoch
                        timestamp, when the object will be removed.
                      </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Delete-After" style="header" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The date, in the format of a Unix Epoch
                        timestamp, after which the object is removed.
                      </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="Content-Type" style="header"
                required="false" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The media type of the entity-body sent. If not specified, the <code>Content-Type</code> is guessed, by using the Python mimetypes library, based on the object path.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Detect-Content-Type" style="header" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">If you set this header to <code>True</code>, the <code>Content-Type</code> that is sent in the request (if any) is ignored, and <code>Content-Type</code> is guessed, by using the Python mimetypes library, based on the object path. 
                </p></doc>
            </param>
            <representation mediaType="application/http">
                <doc title="Update Object Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-updateObjectMetadata_request.txt"/>
                </doc>
            </representation>    
        </request>
        <response status="202"> 
            <representation mediaType="application/http">
                <doc title="Update Object Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-updateObjectMetadata_response.txt"/>
                </doc>
            </representation>           
        </response>
        &only404Fault;  
    </method>

    <method name="DELETE" id="deleteobject">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Object">
            <para role="shortdesc">Permanently deletes an object from
                the Cloud Files storage system. (You can use <command>COPY</command> and then
                <command>DELETE</command> to effectively move an object.)</para>
            <para><command>DELETE</command> operations on an object permanently
                remove an object from the storage system (data and
                metadata).</para>           
            <para>Deleting an object is processed immediately at the time
                of the request. Any subsequent <command>GET</command>, <command>HEAD</command>, <command>POST</command>, or
                <command>DELETE</command> operations return a 404 (Not Found) error
                unless object versioning is on and other versions
                exist. For more information about object versioning, see <xref
                    linkend="Object_Versioning-e1e3230"/>.</para>
            <para>Objects with the <code>X-Delete-At</code> or
                <code>X-Delete-After</code> header assigned are deleted
                within one day of the expiration time, and the object is not
                served immediately after the expiration time. For more details, refer to <xref
                    linkend="Expiring_Objects-e1e3228"/>.</para> 
            <para>A status code of 204 (No
                Content) indicates success. Status code 404 (Not Found) is
                returned when the object does not exist.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
            <para>For information about bulk deletions, see <xref
                linkend="Bulk_Delete-d1e2338.html"/>.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/http">
                <doc title="Delete Object Request">
                    <xsdxt:code href="../wadl/samples/cf-deleteObject_request.txt"/>
                </doc>
            </representation>    
        </request>
        <response status="204"> 
            <representation mediaType="application/http">
                <doc title="Delete Object Response">
                    <xsdxt:code href="../wadl/samples/cf-deleteObject_response.txt"/>
                </doc>
            </representation>    
        </response>
        &only404Fault;     
    </method>

</application>
