src/wadl/rax-cloudFilesCDN-api-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "../wadl/common.ent">
    %common;
    
    
]>

<application 
    xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:files="http://docs.openstack.org/api/openstack-object-storage/1.0">

<!--*******************************************************-->
<!--             All Resources                             -->
<!--*******************************************************-->

    <resources base="https://storage101.ord1.clouddrive.com/">
        <resource id="versions" path="v1">
     
            <resource id="account" path="{account}">
                <param name="account" style="template"
                    type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">Your
                            unique account identifier.</p>
                    </doc>
                </param>
                <method href="#listCDNcontainers"/>

                <resource id="container" path="{container}">
                    <param name="container" style="template"
                        type="xsd:string">
                        <doc>
                            <p xmlns="http://www.w3.org/1999/xhtml">
                                The unique identifier of the
                                container.</p>
                        </doc>
                    </param>
                    <method href="#enableDisableCDNcontainer"/>
                    <method href="#retrieveCDNcontainermeta"/>
                    <method href="#updateCDNcontainermeta"/>
                    <method href="#purgeCDNcontainer"/>                   

                    <resource id="object" path="{object}">
                        <param name="object" style="template"
                            type="xsd:string">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The unique identifier of the
                                   object.</p>
                            </doc>
                        </param>
                        <method href="#purgeCDNobjects"/>
                    </resource>
                </resource>
            </resource>
        </resource>  
    </resources>

<!--*******************************************************-->
<!--               All Methods                             -->
<!--*******************************************************-->
    
<!-- CDN Account Services Methods -->
    
    <method name="GET" id="listCDNcontainers">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List Account Containers">
            <para role="shortdesc">
                Lists storage containers sorted by name.
            </para>
            <para>This operation lists the storage containers in your account and sorts them by name. </para>
            <para>The container is the basic storage unit in Cloud Files. To view a list of the containers in your account, perform a <code>GET</code> operation against your storage account URL.</para>
            <para>The list is limited to 10,000 containers at a time. See "Controlling a Large List of Containers" below for information on limiting and navigating the list. </para> 
            <para>Container names are sorted based on a binary comparison (
                <link
                xlink:href="http://www.sqlite.org/datatype3.html#collation"
                >http://www.sqlite.org/datatype3.html#collation</link>), a built-in collating function
                that compares string data using SQLite's memcmp() function,
                regardless of text encoding.</para>
            <para>A list of containers is returned in the response body, one container per line. </para>
            <para>The HTTP response status code is a value from 200 to 299, inclusive. A 200 (OK) code returns if there are containers, and a 204 (No Content) code returns if there are no containers.</para>
           
 
            
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="limit" style="query" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For an integer value n, limits the number of results to n values.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns container names greater in value than the specified marker. Only strings using UTF-8 encoding are valid.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="end_marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns container names less in value than the specified marker. Only strings using UTF-8 encoding are valid.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="format" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Value of
                        the serialized response format - either json or
                        xml.</p></doc>
            </param>
            <representation mediaType="application/xml" element="files:Files" >
                <doc>                     
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_request.xml"/>
                </doc>
            </representation>    
            <representation mediaType="application/json" element="files:Files" >
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_request.json"/>
                </doc>
            </representation>           
        </request>
        <response status="200 204">           
            <representation mediaType="application/xml" xml:lang="EN">
                <doc>                 
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_response.xml"/>
                </doc>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" required="true" type="xsd:string" path="/account/container/name">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Name of the container.
                    </p></doc>
                </param>        
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="count" style="plain" required="true" type="xsd:int" path="/account/container/count">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of objects in the container.
                    </p></doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="bytes" style="plain" required="true" type="xsd:int" path="/account/container/bytes">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of bytes in the container.
                    </p></doc>
                </param>    
            </representation>
            <representation mediaType="application/json" xml:lang="EN">                
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getAccountContainers_response.json"/>
                </doc>
<!--                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="name" style="plain" required="true" type="xsd:string" path="$.*.name">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Name of the container.
                    </p></doc>
                </param>        
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="count" style="plain" required="true" type="xsd:int" path="$.*.count">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of objects in the container.
                    </p></doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="bytes" style="plain" required="true" type="xsd:int" path="$.*.bytes">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">Number of bytes in the container.
                    </p></doc>
               </param> 
-->
            </representation>
        </response>
    </method>

  
 <!--  CDN Container Services Methods  -->
    
    <method name="PUT" id="enableDisableCDNcontainer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="List Container Objects">
            <para role="shortdesc">Lists the objects stored in the
                container.</para>
            <para>This operation against a storage container name retrieves a list of objects
                stored in the container. Additionally, you can use optional query parameters to refine the list results.</para>    
            <para>A request with no query parameters returns the full list of object names stored in the
                container, up to 10,000 names. The response body shows the object names as one object name per line. Specifying the query parameters filters the full
                list and returns a subset of objects.  For information on limiting and controlling the list, see “Controlling a Large List of Objects” below.</para>
            <para>The HTTP response status code is a value from 200 to 299, inclusive. A status code of 200 (OK) is returned if there are objects, and a 204 (No Content) is returned if there are no objects. If the container does not
                exist, or if an incorrect account is specified, a status code 404 (Not Found) is returned.</para>
            <para>For information on filtering the results of a container list, see <xref linkend="Pseudo-Hierarchical_Folders_Directories-d1e1580"/>.</para>
            <para>This one-item response shows less than the limit of two object names requested, and indicates that this is the end of the list.</para>      
        </wadl:doc>
        
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="limit" style="query" required="false"
                type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For an integer n, limits the number of results to n values.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns object names greater in value than the
                    specified marker.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="end_marker" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Given a string value x, returns object names less in value than the specified
                    marker.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="prefix" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For a string value x, causes the results to be limited to object names
                    beginning with the substring x.
                </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="format" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Specifies either json or xml
                  to return the respective serialized response.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="delimiter" style="query" required="false"
                type="xsd:char">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For a character c, returns the object names nested in the container
                    (without the need for the directory marker objects).</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="path" style="query" required="false"
                type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">For a string x, returns the object names nested in the pseudo path. Equivalent to setting delimiter to '/' and prefix to the path with a '/' on the end. 
                    For more information about pseudo paths, see the section on pseudo hierarchical folders and directories.
                </p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="List Container Objects Request">                     
                    <xsdxt:code href="../wadl/samples/cf-getContainerObjects_request.txt"/>
                </doc>
            </representation> 
            <representation mediaType="application/xml" element="files:Files" >
                <doc>                     
                    <xsdxt:code href="../wadl/samples/cf-getContainerObjects_request.xml"/>
                </doc>
            </representation>    
            <representation mediaType="application/json" element="files:Files" >
                <doc>
                    <xsdxt:code href="../wadl/samples/cf-getContainerObjects_request.json"/>
                </doc>
            </representation>           
        </request>
        <response status="200 204">
            
            <representation mediaType="text/xml" xml:lang="EN">
                <doc title="List Container Objects Response">                 
                    <xsdxt:code href="../wadl/samples/cf-getContainerObjects_response.txt"/>
                </doc>
                
            </representation>
                <representation mediaType="application/xml" xml:lang="EN">
                    <doc>                 
                        <xsdxt:code href="../wadl/samples/cf-getContainerObjects_response.xml"/>
                    </doc>
                   
                </representation>
                <representation mediaType="application/json" xml:lang="EN">
                    
                    <doc>
                        <xsdxt:code href="../wadl/samples/cf-getContainerObjects_response.json"/>
                    </doc>
                    
                </representation>
        </response>
        &deleteContainerFaults;
    </method>  
 
    <method name="POST" id="updateCDNcontainermeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Create or Update Container Metadata">
            <para role="shortdesc">Creates or updates the container metadata by associating custom metadata headers with the container level URI. These headers
                must have the format, X-Container-Meta-name.</para>
            <para>To set or edit container metadata, perform a <command>POST</command> operation to the container. The operation must include <code>X-Container-Meta-name</code>, where name is the name of your custom metadata. Subsequent <command>POST</command>POST to the header using the same metadata name overwrite the previous value. </para>
            <para>To view your metadata changes, perform a <command>HEAD</command> operation on the container. (For more information, see <xref linkend="HEAD_retrievecontainermeta_v1__account___container__containerServicesOperations_d1e000"/>.) Do not try to send the metadata in your <command>HEAD</command> request. </para>
            <para>A status code of 204 (No Content) indicates success. Status
                code 404 (Not Found) is returned when the requested container does not exist.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
            <note><para>For information about adding metadata for the following purposes, see <xref linkend="containerMetadataOptions_d1e001"/>: </para>
                    <itemizedlist spacing="compact">
                        <listitem><para>Container quotas</para></listitem>
                        <listitem><para>Access log delivery</para></listitem>
                </itemizedlist></note>
        </wadl:doc>
        <request>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Meta-name" style="header"
                required="true" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The container metadata. Replace the name at the end of the header with the name of your metadata. </p></doc>
            </param>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Create or Update Container Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-createContainerMetadata_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204"> 
            <representation mediaType="application/http">
                <doc title="Create or Update Container Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-createContainerMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &only404Fault;
    </method>

    <method name="HEAD" id="retrieveCDNcontainermeta">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Get Container Metadata">
            <para role="shortdesc">Gets container metadata, including
                the number of objects in the container and the total bytes for all
                objects stored in the container.</para>
            <para>Use a <command>HEAD</command> operation against the container to return the following metadata: </para>
            <itemizedlist spacing="compact">
                <listitem><para>How many objects are in the container (<code>X-Container-Object-Count</code>)</para></listitem>
                <listitem><para>The total bytes for all objects stored in the container (<code>X-Container-Bytes-Used</code>)</para></listitem>
                <listitem><para>Any custom metadata that is set on the container (<code>X-Container-Meta-name</code>)</para></listitem>
            </itemizedlist>
            <para>To set and edit your custom metadata, see <xref linkend="POST_updateacontainermeta_v1__account___container__containerServicesOperations_d1e000"/>.</para>
            <para>If the container exists, a status code of 2xx (between 200 and 299, inclusive) is returned. If the container does not exist,
                a status code of 404 (Not Found) is returned.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>       
        <request>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Get Container Metadata Request">
                    <xsdxt:code href="../wadl/samples/cf-getContainerMetadata_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204">
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Object-Count" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The
                    number of objects in the container. </p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Bytes-Used" style="header"
                required="true" type="xsd:int">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">The total number
                    of bytes used for all objects in the container.</p></doc>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02"
                name="X-Container-Meta-name" style="header"
                required="true" type="xsd:string">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">Any metadata set on the container. The name at the end of the header is the name of your metadata. </p></doc>
            </param> 
            <representation mediaType="application/http">
                <doc title="Get Container Metadata Response">
                    <xsdxt:code href="../wadl/samples/cf-getContainerMetadata_response.txt"/>
                </doc>
            </representation>
        </response>
        &only404Fault;
    </method>   
    
    <method name="PUT" id="purgeCDNcontainer">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Container">
            <para role="shortdesc">Deletes an empty container.</para>
            <para>A <command>DELETE</command> operation against a storage container permanently removes it. The container must be empty before it can be deleted.</para>
            <para>Before using <command>DELETE</command>, you can use a <command>GET</command> operation against the container to list any objects it contains. (See <xref linkend="GET_listcontainerobjects_v1__account___container__containerServicesOperations_d1e000"/>.)</para>
            <para>A status code of 204 (No Content) indicates
                success. A status code of 404 (Not Found) is returned if the requested container is not found. A status code of 409
                (Conflict) is returned if the container is not empty.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="text/xml" element="files:Files" >
                <doc title="Delete Container Request">
                    <xsdxt:code href="../wadl/samples/cf-deleteContainer_request.txt"/>
                </doc>
            </representation>     
        </request>
        <response status="204"> 
            <representation mediaType="text/xml" element="files:Files" > 
                <doc title="Delete Container Response">
                    <xsdxt:code href="../wadl/samples/cf-deleteContainer_response.txt"/>                   
                </doc>
            </representation>     
        </response>
        &deleteContainerFaults;        
    </method>
    
 <!-- Object Methods-->
    

    <method name="DELETE" id="purgeCDNobjects">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
            title="Delete Object">
            <para role="shortdesc">Permanently deletes an object from
                the Cloud Files storage system. (You can use <command>COPY</command> and then
                <command>DELETE</command> to effectively move an object.)</para>
            <para><command>DELETE</command> operations on an object permanently
                remove an object from the storage system (data and
                metadata).</para>           
            <para>Deleting an object is processed immediately at the time
                of the request. Any subsequent <command>GET</command>, <command>HEAD</command>, <command>POST</command>, or
                <command>DELETE</command> operations return a 404 (Not Found) error
                unless object versioning is on and other versions
                exist. For more information about object versioning, see <xref
                    linkend="Object_Versioning-e1e3230"/>.</para>
            <para>Objects with the <code>X-Delete-At</code> or
                <code>X-Delete-After</code> header assigned are deleted
                within one day of the expiration time, and the object is not
                served immediately after the expiration time. For more details, refer to <xref
                    linkend="Expiring_Objects-e1e3228"/>.</para> 
            <para>A status code of 204 (No
                Content) indicates success. Status code 404 (Not Found) is
                returned when the object does not exist.</para>
            <para>This operation does not require a request body and does not return a response body.</para>
            <para>For information about bulk deletions, see <xref
                linkend="Bulk_Delete-d1e2338.html"/>.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/http">
                <doc title="Delete Object Request">
                    <xsdxt:code href="../wadl/samples/cf-deleteObject_request.txt"/>
                </doc>
            </representation>    
        </request>
        <response status="204"> 
            <representation mediaType="application/http">
                <doc title="Delete Object Response">
                    <xsdxt:code href="../wadl/samples/cf-deleteObject_response.txt"/>
                </doc>
            </representation>    
        </response>
        &only404Fault;     
    </method>

</application>
